mixin multipartForm(name)
  .form
    p= name
    form(method='post' enctype='multipart/form-data')
      input(type='file' name=name)
      input(type='submit' value='OK')

extends layout
block content
    +multipartForm('mbank')
    +multipartForm('paypal')
