extends ../layout
block content
  .form
    form(method='post')
      input(type='text', name='hostname', placeholder='Hostname')
      input(type='number', name='link', placeholder='Link')
      input(type='number', name='price', placeholder='Price')
      button(type='submit') Add
