extends ../layout
block content
  .form
    form(method='post')
      input(type='text', name='hostname', placeholder='hostname')
      input(type='text', name='capacity', placeholder='capacity')
      input(type='number', name='link', placeholder='link')
      input(type='number', name='price', placeholder='price')
      input(type='submit', name='submit', value='OK')
