doctype html
html
  head
    title= title
    //-<!-- build:js dist/js/scripts.min.js -->
    //-<!-- endbuild -->
    //-<!-- build:css dist/style/style.min.css -->
    //-<!-- endbuild -->
  body
    block content
