extends ../layout
block content
  .form
    form(method='post')
      select(name='user')
        each user in users
          option(value=user._id) #{user.user}
      input(type='text', name='username', placeholder='Username')
      label(for='payForAdmin') Pay for admin
      input(type='checkbox', name='payForAdmin')
      select(name='hostname')
        each server in servers
          option(value=server._id) #{server.hostname}
      input(type='number', name='allowedTorrents', placeholder='Allowed torrents')
      input(type='number', name='allowedTransfer', placeholder='Allowed transfer')
      label(for='allowedVNC') VNC
      input(type='checkbox', name='allowedVNC')
      input(type='number', name='allowedCapacity', placeholder='Capacity')
      input(type='number', name='price', placeholder='Price')
      input(type='date', name='validity')
      button(type='submit') Add
