extends ../layout
block content
  .form
    form(method='post')
      p Jeśli chcesz usunąć konto <span>#{username}</span> przepisz nick!
      input(type='text', name='username')
      input(type='submit', name='OK')
  script(type='text/javascript', src='/js/user-remove.js')
